{% extends "basic.html" %}
{% block content %}

      <div class="hero-body">
        <div class="container is-marginless">
          <h1 class="title">
            Hero title
          </h1>
          <h2 class="subtitle">
            Hero subtitle
          </h2>
        </div>
      </div>
    </section>
      <section class="section">
        <div class="container">
          <div class="columns">
                
                <div class="column">
                  <div class="card initial-scale">
                    <div class="card-content">
                      <div class="media">
                        <div class="media-left">
                          <div class="mydate"><p>25 <span>五月</span></p></div>
                        </div>
                        <div class="media-content">
                          <p class="title is-4">王紹宇</p>
                          <p class="subtitle is-6">@Starry Wang</p>
                        </div>
                      </div>
                  
                      <div class="content">
                        關於我
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="column">
                   <div class="card">
                     <div class="card-content">
                       <div class="media">
                         <div class="media-left">
                            <div class="mydate"><p>20<span>六月</span></p></div>
                         </div>
                         <div class="media-content">
                           <p class="title is-4">John Smith</p>
                           <p class="subtitle is-6">@johnsmith</p>
                         </div>
                       </div>
                   
                       <div class="content">
                           <article class="messageis-medium">
                                <div class="message-body">
                                    關於另外一個我
                                </div>
                            </article>
                         <small>11:09 PM</small>
                       </div>
                     </div>
                   </div>
                </div>

                <div class="column is-2">
                    <div class="menu">
                      <p class="menu-label">
                        Administration
                      </p>
                      <ul class="menu-list">
                            <li><a>Members</a></li>
                            <li><a>Plugins</a></li>
                            <li><a>Add a member</a></li>
                      </ul>
                    </div>
                </div>
                
          </div>
        </div>
      </section>
{% endblock %}
