<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }} ">
    <script src="{{ url_for('static',filename='js/moment-with-locales.js') }}"></script>
        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}
        {{ moment.locale("zh-tw")  }}
  
     
    {% if name %}
    <title>Blog - {{ name }}</title>
    {{ else }}
    <title>Home Page</title>
    {% endif %}

</head>
<body>{% block content %} {% endblock %} </body>
</html>
