{% extends "basic.html" %}
{% block content %}
<div>
<section class="hero is-dark">
  <nav class="hero-head">
	<div class="columns">
      <div class="column left">
        <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>
      </div>

		<div class="column right">
        <a class="collepse-menu">
            <i class="fas fa-bars"></i>
        </a>
        <div class="navbar-item-right">
          <a class="navbar-item-right" href="{{ url_for('home') }}">Blog</a>
          <a class="navbar-item-right" href="{{ url_for('about') }}">關於</a>
          <a class="navbar-item-right" href="{{ url_for('register') }}">註冊</a>
          <a class="navbar-item-right" href="{{ url_for('login') }}">登入</a> 
        </div>
		</div>

	</div>
  </nav>

    <div class="hero-body">
        <div class="container is-marginless">    
          <h1 class="title">紹宇的Blog</h1>
          <h2 class="subtitle">記錄我的生活</h2>
        </div>
    </div>
    
</section>
</div>     
      <!-- 表格區域 -->

    <form method= "POST" action="" >
    <div class="form-center">
                <div class="container is-fluid">
                    <div>{{ form.csrf_token }}</div>
                    
                    </div>
                    <div class="field">
                    <label class="label is-marginless">姓名</label>
                    <p class="control">
                         {{ form.realname(class="input",placeholder="ex: 王小明")}}
                    </p>
                    </div>
                    
                    <div class="field">
                    <label class="label is-marginless">使用者ID</label>
                    <p class="control has-icon has-icon-left">
                         {{ form.username(class="input")}}
                        <span class="icon is-small">
                        <i class="far fa-id-card"></i>
                        </span>
                    </p>
                    </div>
                    
                    <div class="field">
                    <label class="label is-marginless">電子郵件</label>
                    <p class="control has-icon has-icon-left">
                        {{ form.email(class="input",placeholder="abc@abc.com")}}
                        <span class="icon is-small">
                        <i class="far fa-envelope"></i>
                        </span>
                    </p>
                    </div>

                    <div class='field'>
                        <labe class="label is-marginless">密碼</labe>
                        <p class="control has-icon has-icon-left">
                         {{ form.password(class="input")}}
                        <span class="icon is-small">
                        <i class="fas fa-lock"></i>
                        </span>
                        </p>
                    </div>

                    <div class='field'>
                        <labe class="label is-marginless">再次確認密碼</labe>
                        <p class="control has-icon has-icon-left">
                        {{ form.password(class="input",value="請輸入密碼")}}
                        <span class="icon is-small">
                        <i class="fas fa-lock"></i>
                        </span>
                        </p>
                    </div>
                    <div class="field is-grouped">
                    <p class="control">
                        <button class="button is-primary" type="submit" >Submit</button>
                    </p>
                    <p class="control">
                        <button class="button is-gray">Cancel</button>
                    </p>
                    </div>

                    <div class="help is-small">己有帳號 ？ <a href="{{ url_for('login') }}">登入</a>
                    </div>

                </div>
    </div>
</form>       
{% endblock %}
